<div class="container">
<div ng-show="error" class="alert alert-danger row">
    <span>{{ error }}</span>
</div>

<form>
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Username"
               ng-model="username"/>
    </div>
    <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="Password"
               ng-model="password"/>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="performLogin(username,password, true)">Login</button>
</form>
</div>